{% extends "admin/base_site.html" %}
{% block content %}
<h1>{{ title }}</h1>
<table class="adminlist">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gesamt erhalten</th>
      <th>Abgewohnt</th>
      <th>Saldo</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in data %}
      <tr>
        <td>{{ entry.lender }}</td>
        <td>{{ entry.total_in }} €</td>
        <td>{{ entry.total_out }} €</td>
        <td><strong>{{ entry.balance }} €</strong></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
